html, body{height:100%;margin: 0;background: darkgray; min-width: 550px}
div{border: solid 0px white;
    background: darkgray;
}


.head{height: 50px}
.main{height: auto}
.content{}
.footer{height: 80px;
    background-color: black;
    color: white;
}
div.head{background: #1d2225;
    color: whitesmoke;
}

ul.navigation{list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
ul.navigation a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: #1d2225;
    color: #fcffee;
}
.navigation li{
    float: left;
}
ul.navigation a:hover{
    background-color: #15191a;
    color: #fffa19;
}
h4{
    float: left;
    display: block;
}

.logo{
    border: solid 0px black;
}
div.main{
    margin-top: 50px;
}
div.logo{margin-left: 50px}
div.content{margin-top: 45px;
}
div.content img{width: 100px;
    border: solid 0px black;}
div.dataset {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 250px;
    margin: 0 10px 50px 10px;
    border: solid 0px black;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
div.dataset img{
    margin: 15px;
}
div.dataset:hover{
    background: #f0ff5d;
}
div.dataset:active{
    box-shadow: none;
    padding-top: 10px;
}

div.insideContent{
    border: solid 0px black;
    height: 155px;
    background-color: #d2cfd0;
    opacity: 0.8;
    border-radius: 15px;
}

.insideContent p{position: absolute;
    margin: 15px;
    font-weight: bold;
}